.ChallengePage {
    margin: 2px;
    display: flex;
    flex-direction: row;    
}

.ChallengeArea {
    border: solid 1px rgb(202, 190, 190)
}

.ChallengeHeader {
    
}

.ChallengeInteractionArea {
    height: 30rem;
    width: 40rem;
    background-color: rgb(13,161,146);

    display: flex;
    align-items: center;
    justify-content: center;
}

.ChallengeAboutArea {
    height: 15rem;
    width: 40rem;
    background-color: rgb(62, 62, 99);
}