.board {
    background-color: rgb(25,118,210);
}

.cell1,  
.cell2,
.cell3,
.cell4,
.cell5,
.cell6,
.cell7,
.cell8,
.cell9 {
    background-color: rgb(105, 171, 236);
    width: 5rem;
    height:5rem;
    transition: all 1s;

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cell1,  
.cell2,
.cell4,
.cell5,
.cell7,
.cell8 {
    margin-right: 0.3rem;
}

.cell1,  
.cell2,
.cell3,
.cell4,
.cell5,
.cell6 {
    margin-bottom: 0.3rem;
}


.row1,
.row2,
.row3 {
    display: flex;
}

/* Different Cell Types Styles */

.xCell {
    color: rgb(242,235,211);
}

.oCell {
    color: rgb(242,235,211);
}

.winnerCell {
    background-color: rgb(17, 98, 179);
}

.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}