.CodeEditorParent {
    display: flex;
    flex-direction: column;

    height: 100%;
}


.CodeEditorHeader {
    display: flex;
    justify-items: center;
    
    height: 2.5rem;
    background-color: rgb(250,250,250);

}

.EditorAndConsole {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    height: 100%;
}

.CodeEditor {
    height: 100%;
    border: solid 0px rgb(202, 190, 190);
}

.CodeEditor > .cm-theme {
    height: 100%;
}

.Console {
    height: 100%;
    border: solid 0px rgb(202, 190, 190);
}

.Console > .cm-theme {
    height: 100%;
}